{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block menu %}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="{{ path('car') }}">Strona główna</a></li>

                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">Rejestracja</a></li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('orders', {
                                            'appbundle_ordersfiltertype[user]': app.user.id,
                                        'filter_action':'filter'
                                }) }}"
                                >Moje zamowienia</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Moj profil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a></li>
                        </ul>
                    </li>
                {% else %}
                <li role="presentation">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                {% endif %}

            </ul>
        </nav>
        <h3 class="text-muted">Wypożyczalnia samochodów</h3>
    </div>

{% endblock %}