{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block menu %}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="{{ path('car') }}">Strona główna</a></li>
                <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">Rejestracja</a></li>
                <li role="presentation">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Wypożyczalnia sklepów</h3>
    </div>

{% endblock %}